body{font-family:Tohama, Arial,"ו";padding:0;background:#f8fcf6;font-size:10.5pt;color:#5b5f6b;white-space:nowrap;}
div,form,img,h1,h2,h3,ul,li,p,span,a{margin:0;padding:0;border:0;text-decoration:none;font-size:9pt;white-space:nowrap;}
a:link{color:#338815;text-decoration:none;}
a:visited{color:#338815;text-decoration:none;}
a:hover{color:#338815;text-decoration:underline;}
a:active{color:#338815;text-decoration:none;}

.NODETEXT {color:black;cursor:hand;font-size:9pt;white-space:nowrap;}
.NODETITLE {color:black;cursor:hand;text-decoration:none;white-space:nowrap;}
.NODEIMG {cursor:hand;}